$white: white;
$background-gradient: linear-gradient(
  0deg,
  rgb(32 27 38) 0%,
  rgb(27 28 35) 100%
);
$label-color: rgb(117 116 143);
$shadow-color: rgb(24 24 30);
$digit-top-color: rgb(39 39 59);
$digit-top-text-color: rgb(217 71 103);
$digit-bottom-color: rgb(45 47 69);
$digit-bottom-text-color: rgb(255 85 121);
